body{
	font-family: "Palatino Linotype","Times New Roman", Georgia, Serif;
	/*background-color: #CECECE;*/	
}

label {
	font-weight: bold;
	color: black;
}

button {
	font-weight: bold;
}

input {
	font-weight: bold;
	color: #040403;
}

img#zoneImage {
	width: 50px; 
	height: 50px;	
}

img#zoneImage2 {
	width: 60px; 
	height: 60px;	
}

tr {
	vertical-align: middle;
}


